@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@200;300;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
    /* ---------------------
    Fuentes :
        font-family: 'Bebas Neue', cursive;  Regular 400
        font-family: 'Montserrat', sans-serif;   Extra-light 200 ,Light 300 ,Medium 500, Bold 700
       ---------------------     
      --------------------
        colores usados rojo: #e12242  gris:#5f5e64 celeste: #84d2d4
        --------------------
    */
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Bebas Neue', cursive;
}
.head{
    background-image: linear-gradient(to left, rgba(66, 66, 66, 0.76) 0%, rgba(73, 73, 73, 0.438) 100%), radial-gradient(88% 271%, rgba(0, 0, 0, 0.479) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url(img/Fondo.jpg);
    width: 100%;
    height: 130vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
 
    /*----menu----*/
#logo{
    position: absolute;
    width: 80px;
    height: 80px;
    padding-left: 170px;
}
.textmain{
    width: 70%;
    margin: 1% 35%;
} 
.textmain li {
    padding: 3em;
    display: inline-block;
}
.textmain a{
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 26px;
}
.textmain a:hover{
    border-bottom: 2.5px solid #e12242;
}
#banner{
    width: 40%;
    margin: 2% 34%;
    
}
.head .contentmain .boton{
    font-size: 20px;
    margin: 3% 48%;
    text-decoration: none;
    padding: 15px 18px;
    background: #e122427a;
    border-radius: 8px;
    color: #fff;
}
    /*----Tarjetas---*/
.boxes{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10%;
    color:#ffffff;
}
.card{
    width: 20%;
    text-align: center;
    height: 280px;
    /*box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);*/
    transform: scale(1);
    transition: transform 0.6s;
}
.card h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding-bottom: 15px;
}
.card:hover{
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
}
.card i{
    margin: 30px 0 20px 0;
    color: #e12242;
    font-size: 100px; 
}
.card i:hover{
    margin: 30px 0 20px 0;
    color: #fff;
    font-size: 100px;
}
.card p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
}
.parrafo{
    text-align: justify;
    margin-bottom: 20px;
}
/*-----Linearoja-------*/
/*.heaaad{
    background:#e12242;
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: -10px;
}*/
.head, .welcome{
    border-bottom: 15px solid #e12242;
}

/*-----Welcome-----*/
.welcome{
    width: 100%;
    height: 1100px;
    background-image: url(img/FondoW.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    /*max-width: 100%;              
    width: 100%;                                     
    background-color: black;
    color: white;
    height: 1000px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;*/
}
#Banner2{
    margin-top:150px ;
    margin-left: 110px;
}
.welcometxt{
    width: 40%;
    margin-left: 280px;
    font-size: 17px;
}
.welcomelist{
    margin-left: 70px;
    padding-left: 10px;
}
.welcomelist p{
    font-size: 12px;
}
.welcomelist i{
    margin: 30px 0 20px 0;
    color: white;
    font-size: 50px; 
}
.welcomelist ul {
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    margin-left: 320px;

}

/*-----Servicios-----*/
.servicios{
    width: 100%;
    height: 1300px;
    
    background-image: url(img/Fondo4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /*border-bottom: orangered solid 1px;*/
}
.presentacion{
    padding-top: 1em;
    text-align: center;
}
.presentacion h2{
    font-size: 46px;
    margin: 0 auto;
    width: 400px;
    border-bottom: 2px solid #e12242;
}
.presentacion i{
    font-size: 150px;
    color:#e12242;
}
.sercard h3{
    padding:10px 0px;
    text-align: center;
}
.sercard p{
    padding-top: 10px;
}
.serviboxes{
    margin: 20px 10% 50px 10%;
    padding: 0px 20px 50px 20px;
    display: flex;
    /*text-align: justify;*/
    justify-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.sercard img{
    width: 300px;
    margin: 0 1px;
}
.sercard{
   width: 310px;
   padding: 35px 30px;
   margin: 0 20px;
}
.sercard:hover{
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
}
/*---Contactos---*/
.contactos{
    background-image: url(img/FondoFoot.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
/*--contactos izquierda---*/
.contactos{
    width: 100%;
    height: auto;
    padding-top: 50px;
}
.contacizquierda{
    width: 40%;
    float: left;
    padding-left: 150px;
}

.contacto1 li{
    display: inline;
    font-family: 'Montserrat';
}
.contacto1 i{
    font-size: 90px;
    padding-right: 10px;
}
#cont{
    font-size: 90px;
    font-weight: 700;
}
#us{
    font-size: 90px;
    font-weight: 200;
}
.contacto2{
    font-size: 25px;
    font-family: 'Montserrat';
    font-weight: 500;
}
.contacto3 li{
    display: inline;
}
.contacto3{
    padding-top: 80px;
    font-family: 'Montserrat';
    font-size: 35px;
}
#inf{
    font-weight:700 ;
}
#correo{
    font-weight: 200;
}
.contacto4{
    width: 690px;
    padding-left: 45px;
    padding-top: 25px;
    font-weight: 500;
    font-size: 19px;
}
.contactoab{
    margin-top: 550px;
}
/*---contacto derecha---*/
.contactderecha{
    width: 40%;
    float: right;
    padding-right: 20px;
}
.formulario {
    width: 500px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    
}
.formulario input{
    outline: none;
    border: none;
    border: 1px solid black;
    padding:15px 15px;
    margin-top: 15px;
    border-radius: 8px;
}
.inp4{
    height: 150px;
    text-align: justify;
}
.btn5{
    margin-top: 15px;
    background-color: #e12242;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    padding:5px 0px;
    height: 35px;
    border-radius: 8px;
    outline: none;
    border: none;
    transition: all 1s;
}
.btn5:hover{
    background-color: black;
}
/*---contacto foot*/

.contactoab{
    display: flex;
    justify-content: space-between;
    width: 78%;
    margin-left: auto;
    margin-right: auto;
    border-top: 0.5px solid  #ffffff ;
    padding-top: 20px;
}
#bannerab{
    width: 160px;
}
.abright li{
    display: inline;
    font-size: 35px;
}
.ref li{
    font-family: 'Montserrat', sans-serif; 
    font-weight: 200;
    padding-top: 10px;
    font-size: 18px;
}
.ico li{
    padding: 0 15px;
}
#M{
    color: #e12242;
}
@media screen and (max-width:800px){
    body{
        width: 100%;
    }
    /*---Menu---*/
    .head{
        width: 100%;
        height: 100vh;
    }
    #logo{
        padding-left: 100px;
    }
    .textmain{
        width: 70%;
    }
    .textmain li{
        padding: 1em;
    }
    .contacizquierda{
        width: 0;
    }
    #banner{
        width: 60%;
        margin: 2% 25%;
    }
    .head .contentmain .boton{
        margin: 4% 42%;
    }
    /* Cards */
     .card{
        width: 20%;
        height: 200px;
        margin-bottom: 20px;
    }
    .card p{
        display: none;
    }
    /*---welcome---*/
    .welcome{
        height: 100vh;
    }
    #Banner2{
        width: 350px;
        margin: 40px auto;
    }

    .welcomelist p{
        font-size: 15px;
    }
    .welcomelist{
        margin-left: 1%;
    }
    /*---Servicios---*/

    .sercard img{
        width: 180px;
        margin: 0 11px;
    }
    .sercard{
        width: 200px;
        padding: 15px 10px;
    }
    .sercard p{
        text-align: justify;
        font-size: 15px;
    }
    .sercard p:last-child{
        display: none;
    }
    /*---Contactos---*/
    .contacizquierda,.contactderecha{
        float: none;
    }
    .contacto2, .contacto4{
        display: none;
    }
    .contacto1 , .contacto3{
        display: flex;
    }
    .contacto1 #cont , #us{
        font-size: 70px;
    }
    .contacto3{
        padding-top: 50px;
        padding-bottom: 20px;
        font-size: 25px;
    }
    .formulario{
        padding-left: 50%;
        padding-right: 50%;
        padding-bottom: 0px;
    }
    .contactoab{
        margin-top: 30px;
    }
}
@media screen and (max-width:400px){
    /*---Menu---*/
    #logo{
        padding-left:  40%; 
    }
    .textmain{
        margin: 0 5%;
        width: 100%;
        padding-top: 60px;
        font-size: 10px;
    }
    #banner{
        width: 100%;
        margin: 0 5%;
    }
    .head .contentmain .boton{
        margin: 0px 35% ;
    }
    .boxes{
        flex-direction: wrap;
    }
    .card{
        width: 45%;
        height: 200px;
    }
    .card i{
        font-size: 80px;
    }
    .card h3{
        font-size: 18px;
    }
    /*---welcome---*/
    .welcometxt{
        margin-left: 20% 
    }
    .welcometxt p{
        display: none;
    }
    #Banner2{
        width: 280px;
        margin-top: 40px;
    }
    .welcomelist ul{
        margin-left: 10px;
        padding-left: 10px;
    }
    /*---Servicios---*/
    .servicios{
        height: 1800px;
    }
    .sercard p{
        display: none;
    }

    /*--Contactos---*/
    .contacizquierda,.contactderecha{
        float: none;
    }
    .contacto2, .contacto4{
        display: none;
    }
    .contacto1 , .contacto3{
        display: flex;
    }
}